.vote-average {
  position: relative;
  text-wrap: nowrap;
}
.vote-average::before {
  content: '';
  right: -6px;
  top: -4px;
  position: absolute;
  border: 2px solid #e9d100;
  border-radius: 50%;
  padding: 20px;
}

.MovieCard {
  padding: 10px;
  height: 281px;
  width: 454px;
  border-radius: 0;
}

.MovieCard__title {
  line-height: 28px;
  max-width: 190px;
}

.MovieCard img {
  position: absolute;
  top: -10px;
  left: 0;
  height: 279px;
  width: 183px;
}

.Rate {
  font-size: 17px;
}
