.vote-average {
  position: relative;
  text-wrap: nowrap;
}
.vote-average::before {
  content: '';
  right: -5px;
  top: -4px;
  position: absolute;
  border: 2px solid #e9d100;
  border-radius: 50%;
  padding: 20px;
}

.MovieCard {
  height: 340px;
  width: 454px;
  border-radius: 0;
  overflow-y: none;
}
.MovieCard img {
  height: 281px;
  width: 183px;
}
