@media (max-width: 768px) {
  .container {
    /* width: 100%; */
    padding: 10px;
  }
  .Input {
    max-width: 100%;
  }
}

.container {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  max-width: 1010px;
  padding: 36px;
}

.Pagination {
  padding-top: 25px;
}

.Input {
  margin-bottom: 25px;
  height: 40px;
  width: 100%;
  max-width: 933px;
}

.Group {
  margin: 0 auto;
  padding-bottom: 20px;
  margin-top: -10px;
}
